<?xml version="1.0" encoding="utf-8" ?>
<ec>
    <p key="key" value="devInsideConfigsFolder"/>
    <level2>
        <p key="l2el" value="LEVEL2"/>
        <level3>
            <p key="l3el" value="LEVEL3"/>
            <level4>
                <p key="l4el" value="LEVEL4"/>
            </level4>
        </level3>
    </level2>
</ec>